---
import Section from "../section.astro";
import { personal } from "@cv";
import Title from "../title.astro";
import Article from "../article.astro";
const { experiencia_profesional } = personal;
---

<Section>
  <Title>EXPERIENCIA PROFESIONAL</Title>
  {
    experiencia_profesional.map((experiencia) => (
      <Article>
        <span slot="title">
          <h3>{experiencia.company}</h3>
          <h2>{experiencia.position}</h2>
        </span>
        <span slot="dates">
          <h3>{experiencia.location}</h3>
          <h2><span>{experiencia.dates}</span></h2>
        </span>
      </Article>
      <ul>
          {experiencia.responsibilities.map((responsibility) => (
            <li>{responsibility}</li>
          ))}
        </ul>
    ))
  }
</Section>

<style>
 h3 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
  }

  h2 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: normal;
    
  }

  h2,
  span {
    font-weight: normal;
    color: var(--Body-text);
  }

  span {
    font-weight: normal;
    color: var(--Body-text);
    font-style: italic;
  }

  ul{
    padding-left: 3rem;
    color: var(--Body-text);
  }
</style>